:root {
  --grey: #33393f;
  --white: #fff;
  --pink: #e867ec;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--pink);
}

body {
  background: var(--grey);
  color: white;
  display: flex;
  flex-direction: column;
}

/* Header Section */
header {
  padding: 20px;
}

/* Main */
section.row {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
section.row .col {
  background: goldenrod;
  flex: 1 0 96%;
  margin: 2%;
}

/* Extra small devices (phones, 600px and down) */
/* @media screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  section.row .col {
    flex-basis: 46%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  section.row .col {
    flex-basis: 30%;
    margin: 1.33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
/* Footer */
footer {
  margin-top: auto;
  padding: 1.6rem;
}
footer h6 {
  margin-bottom: 0;
}
