:root {
  --grey: #33393f;
  --white: #fff;
  --pink: #e867ec;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--pink);
}

body {
  background: var(--grey);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header Section */
header.page-header {
  padding: 20px;
}

/* Main */
section.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 16px;
}

section.row .col {
  flex-basis: 100%;
  border: 1px dashed white;
  position: relative;
  margin-top: 50px;
  padding: 16px;
}

section.row .col header {
  border-radius: 15px;
  border: 1px solid white;
  background-color: var(--grey);
  position: absolute;
  top: -30px;
  width: 96%;
  left: 2%;
}
section.row .col header h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

section.row .col > p {
  margin-top: 30px;
}

pre {
  background-color: #97529f;
  padding: 16px;
}
/* Extra small devices (phones, 600px and down) */
/* @media screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  section.row .col {
    flex-basis: calc(50% - 16px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  section.row .col {
    flex-basis: calc(33.3% - 16px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
/* Footer */
footer {
  /* margin-top: auto; */
  padding: 1.6rem;
}
footer h6 {
  margin-bottom: 0;
}
