:root {
  --grey: #33393f;
  --white: #fff;
  --pink: #e867ec;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--pink);
}

body {
  background: var(--grey);
  color: white;
  display: flex;
  flex-direction: column;
}

/* Header Section */
header {
  padding: 20px;
}

/* Main */
section.row {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
section.row .col {
  width: 33%;
}

/* Footer */
footer {
  margin-top: auto;
  padding: 1.6rem;
}
footer h6 {
  margin-bottom: 0;
}
